@model Contratistas.Models.SolicitudRegistro
@{
    ViewData["Title"] = "Envío de solicitud de registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <LINK REL=StyleSheet HREF="~/css/Registro.css" TYPE="text/css" MEDIA=screen>
    <script src="~/js/Registro.js"></script>
</body>

<div class="titulo">
    <h1>Registro</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form method="post" asp-action="Registro" onsubmit="verificarPasswords()">
                @if (TempData["mensaje"] != null)
                {
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        @TempData["mensaje"]
                    </div>
                }
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NIT" class="control-label">NIT</label>
                    <input asp-for="NIT" class="form-control" placeholder="NIT" />
                    <span asp-validation-for="NIT" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Razon_social" class="control-label">Razón social</label>
                    <input asp-for="Razon_social" class="form-control" placeholder="Nombre empresa">
                    <span asp-validation-for="Razon_social" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" placeholder="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col">
                        <label asp-for="Operador" class="control-label">Operador registrado</label>
                        <!--<input asp-for="Operador" class="form-control" placeholder="Operador">-->
                        <select id="operador" class="form-control" onclick="operadorId()" placeholder="Operador">
                            @if (ViewBag.Operadores != null)
                            {
                                <option value=" "> </option>
                                @for (int i = 0; i < ViewBag.Operadores.Count; i++)
                                {
                                    <option value=@ViewBag.Operadores[i].Item1>@ViewBag.Operadores[i].Item2</option>
                                }
                            }

                        </select>
                        <input id="id" value="" hidden />
                        <input asp-for="Operador" id="nombre" value="" />

                        <span asp-validation-for="Operador" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Operador" class="control-label">Nuevo operador</label>
                        <input asp-for="Operador" id="nuevooperador" name="nuevooperador" class="form-control" placeholder="Operador" onchange="nuevoOperador()">
                        <span asp-validation-for="Operador" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group" id="numeroOpe">

                    <label asp-for="NumeroOperador" class="control-label">Numero de operador</label>
                    <input asp-for="NumeroOperador" type="number" id="numero" value="" class="form-control" onchange="auxiliar()" required>
                    <input type="number" id="numerodos" value="" name="numeros" class="form-control" disabled>
                    <span asp-validation-for="NumeroOperador" class="text-danger"></span>

                </div>

                <div class="form-group">
                    <label asp-for="Usuario" class="control-label">Usuario</label>
                    <input asp-for="Usuario" class="form-control" placeholder="Usuario">
                    <span asp-validation-for="Usuario" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Contrasena" class="control-label">Contraseña</label>
                    <input asp-for="Contrasena" type="password" id="pass1" class="form-control" placeholder="Contraseña">
                    <span asp-validation-for="Contrasena" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Confirmar contraseña</label>
                    <input type="password" name="conf_contrasena" id="pass2" class="form-control" placeholder="Confirmar contraseña" onkeyup="verificarPasswords()">
                </div>

                <!-- Mensajes de Verificación -->
                <div id="error" class="alert alert-danger ocultar" style="display: none" role="alert">
                    Las Contraseñas no coinciden, vuelve a intentar...
                </div>
                <div id="ok" class="alert alert-success ocultar" style="display: none" role="alert">
                    ¡Las Contraseñas coinciden!
                </div>
                @if (TempData["mensajeConfirmar"] != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        @TempData["mensajeConfirmar"]
                    </div>
                }
                <!-- Fin Mensajes de Verificación -->

                <div class="form-group">
                    <input type="submit" value="Enviar solicitud de registro" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ <partial name="_ValidationScriptsPartial" />}
}

<style>
    .titulo {
        display: flex;
        justify-content: center;
    }

    .container {
        
        justify-content: center;
    }

    .form-control {
        
        justify-content: center;
    }

    .form-group {
        justify-content: center;
    }
</style>