@{
    ViewData["Title"] = "Página de inicio";
}

<body>
    <LINK REL=StyleSheet HREF="~/css/Home.css" TYPE="text/css" MEDIA=screen>
</body>

<div class="text-center">
    <h1 class="display-4">Bienvenido al software web Contratistas</h1>

    <p>Esta aplicación web tiene como fin facilitar la gestión de ingreso de los trabajadores a las obras.</p>
    <p>*Cualquier tipo de inconveniente con la aplicación contactar a Steven*</p>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>

<style>

    body {
        background: url(https://constructoramelendez.com/wp-content/uploads/Santa-Anita-1.jpg);
        background-size: 100% 90.7%;
        background-repeat: no-repeat;
    }
</style>

